{% extends "layout.html" %}
{% block body %}
	<div id="main">
		<h3>DATA GENERATES RESEARCH AND DECISION MAKING</h3>
		<p>The report is the only, and most comprehensive, databank available with the Government of India on the subject. 
			The data contained in the report is used by policy makers, NGOs, researchers and public at large. 
			Keeping in view the extensive, and increasing, dependence of various stakeholders on the information contained
		    in the report, we have, on our own initiative, digitised all the editions of the report from 1953 to 2016 and made them available on our website.</p>
		<br>

		<h3>SUGGESTIONS AND INNOVATIONS</h3>
		<p>While our achievements make us proud, they do not make us complacent. 
			The presentation of the report has also been improved over the years. 
			Thus, a good number of graphs and maps have been included in the report recently.
			We are open to improving the content and presentation of the report to make it more useful to the stakeholders. 
			We welcome any suggestion(s) from users who may like to help us in our quest for excellence.</p>
		<br>

		<h3>OBJECTIVES</h3>
		<p>1) Create and maintain secure sharable National Databases on crimes and criminals for law enforcement agencies and promote their use for public service delivery.<br>
		   2) Collect and process crime statistics at the national level and clearing house of information on crime and criminals both at National and International levels.<br>
		   3) Lead and coordinate development of IT applications and create an enabling IT environment for Police organizations.<br>
		   4) National repository of fingerprints of all criminals.<br>
		   5) To evaluate, modernize and promote automation in State Crime Records Bureaux and State Finger Print Bureaux .<br>
		   6) Training and capacity building in Police Forces in Information Technology and Finger Print Science.<br></p><br>

		<h3>MISSION</h3>
		<p>To Empower Indian Police with Information Technology and criminal Intelligence to enable them to uphold law and protect people. To provide leadership and excellence in crime analysis particularly for serious and organized crime.<br></p>
	</div>
	{% endblock %}
