<!DOCTYPE html>
<html>
<head>
	<title>ADMIN</title>
	<link rel="stylesheet" href="style.css">
</head>
<h1><div class="header" >CRIMINAL MANAGEMENT SYSTEM</div></h1>
<div class="image"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSty2eMnvyaPcCi648_pDdsuFkkHuUYgnJ1RA&usqp=CAU"></div><br>
<body>
	<div id="nav">
		<ul>
			<li><a href="home.html">Home</a></li>
			<li><a href="AboutUs.html">AboutUs</a></li>
			<li><a href="Sign Up.html">Sign Up</a></li>
			<li><a class="active" href="Login.html">Login</a></li>
		 </ul>
	</div>
	<div class="main1">
		<h1>WELCOME BACK ADMIN</h1><br>
	</div>
		<div class="subs">
		<h3><a href="View the Criminal records">View the Criminal records</a></h3>
		<h3><a href="Insert the Criminal records">Insert the Criminal records</a></h3>
		<h3><a href="Delete the Criminal records">Delete the Criminal records</h3><br><br>
	    </div>

</body>
</html>