{% extends "layout.html" %}
{% block body %}
	<div id="main">
		<div class="container-fluid">
		<h3>CRIMINAL WORKING STATUS</h3>
		<p>The report contains comprehensive information on:

                   cases registered and their disposal and
                   persons arrested and their disposal
		   Under major heads of Indian Penal Codes and Special & Local Laws. 
		   Further, age-group-wise and sex-wise details of persons arrested under these crime-heads are also available in the report. 
		   The report contains a dedicated chapter on crime against some vulnerable sections of the society - women, children, Scheduled Castes / Scheduled Tribes and senior citizens.
		    The above crime data is presented in graphic / chart format, table format and map format.</p><br>

        <h3>SALIENT FIELDS</h3>
        <p>The report contains statistical information on cognizable crimes as reported in police stations during the reference year. Information on police casualties and police firing, police & civilians casualties is given in separate chapters to ensure adequate focus to these issues. 
			Information on complaints against police personnel and custodial crimes has also been given in separate chapters. It has been our constant endeavour to improve the scope, coverage, content and presentation of the publication. 
			In this connection, the Bureau has started publication of dedicated chapters on cyber crimes, human trafficking, crime against senior citizens, crime against foreigners inter-alia foreign tourists, offences against the State, environment related offences and seizures of arms & drugs by police. Besides, data on economic crimes, recidivism and crime in railways has also been given in separate chapters. 
			Information on kidnapping and abduction is presented in respect of total population, women & girls and children separately. The latest edition has a total of 25 chapters.</p>
		</div>
	</div>
	{% endblock %}
