{% extends "layout1.html" %}
{% block body %}
    <style>
        .regform1{
            width: 800px;
	height: 50px;
	margin: auto;
	color: #FFFFFF;
	padding: 10px 0px 20px 0px;
	text-align: center;
	border-radius: 20px 20px 0px 0px;
        }
    .main1{
	width: 800px;
	margin: auto;
    }
    form{
	padding: 10px;
}
.name1{
    margin-left: 50px;
	margin-top: 30px;
	width: 125px;
	color: white;
	font-size: 18px;
	font-weight: 700;
}
.email1{
    position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	width: 480px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
	color: #555;
}
    </style>
<div class="regform1"><h1>Criminal Entries</h1></div><br>
	<div class="main1">
        <form action="/insertcriminalrecords" method="POST">
            </div>
            <h2 class="name1">Criminal Name</h2>
            <input class="email1" type="text" name="criminal_name">

            <h2 class="name1">Criminal Mobile</h2>
            <input class="email1" type="text" name="criminal_mobile">

            <h2 class="name1">Criminal Age</h2>
            <input class="email1" type="text" name="criminal_age">

            <h2 class="name1">Criminal Email</h2>
            <input class="email1" type="text" name="criminal_email">
            
            <h2 class="name1">Gender</h2>
		    <input type="radio" name="criminal_gender" value="female">Female
            <input type="radio" name="criminal_gender" value="male">Male
            <input type="radio" name="criminal_gender" value="others">Others

            <h2 class="name1" >Address</h2>
            <input class="email1" type="text" name="criminal_address">

            <button type="submit">Submit</button>
            </form>
            </div>
        </div>
        {% endblock %}
         