{% extends "layout2.html" %}
{% block body %}
    <style>
        .regform1{
            width: 800px;
	height: 50px;
	margin: auto;
	color: #FFFFFF;
	padding: 10px 0px 20px 0px;
	text-align: center;
	border-radius: 20px 20px 0px 0px;
        }
    .main1{
	width: 800px;
	margin: auto;
    }
    form{
	padding: 10px;
}
.name1{
    margin-left: 50px;
	margin-top: 30px;
	width: 125px;
	color: white;
	font-size: 18px;
	font-weight: 700;
}
.email1{
    position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	width: 480px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
	color: #555;
}
    </style>
<div class="regform1"><h1>Police Station Details</h1></div><br>
	<div class="main1">
        <form action="/policestation" method="POST">
            </div>
            <h2 class="name1">Station ID</h2>
            <input class="email1" type="text" name="station_id">   
         
            <h2 class="name1">Station Name</h2>
            <input class="email1" type="text" name="station_name">

            <h2 class="name1">Station Area</h2>
            <input class="email1" type="text" name="station_area">

            <h2 class="name1">Station City</h2>
            <input class="email1" type="text" name="station_city">

            <button type="submit">Submit</button>
            </form>
            </div>
        </div>
        {% endblock %}
         