<!DOCTYPE html>
<html>
<head>
	<title>USER</title>
	<link rel="stylesheet" href="style.css">
</head>
<h1><div class="header" >CRIMINAL MANAGEMENT SYSTEM</div></h1>
<div class="image"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSty2eMnvyaPcCi648_pDdsuFkkHuUYgnJ1RA&usqp=CAU"></div><br>
<body>
	<div id="nav">
		<ul>
			<li><a href="home.html">Home</a></li>
			<li><a href="AboutUs.html">AboutUs</a></li>
			<li><a href="Sign Up.html">Sign Up</a></li>
			<li><a class="active" href="Login.html">Login</a></li>
		 </ul>
	</div>
	<div class="main3">
		<h1>WELCOME USER</h1>
	</div>
	<div class="subs2">
		<h3><a href="File a FIR">File a FIR</a></h3>
		<h3><a href="Check your FIR Status">Check your FIR Status</a></h3>

</body>
</html>