{% extends "layout2.html" %}
{% block body %}
<style>
    body{
    background:#666;
	color:#fff;
	font-family: 'Sansita Swashed', cursive;
    line-height:1.9em;
    }
    .table{
    width: 800px;
	height: 50px;
	background-color: rgb(0,0,0,0.6);
	margin: auto;
	color: #FFFFFF;
	padding: 30px 0px 30px 0px;
	text-align: center;
	border-radius: 20px 20px 0px 0px;
    }
</style>

<div class="container-fluid">
    <h1>FIR</h1>
    <p><h3>Details of the FIR Registered</h3></p><br>          
    <table class="table">
      <thead>
        <tr>
          <th>Police Station ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Date of Birth</th>
          <th>Phone</th>
          <th>Gender</th>
          <th>Nationality</th>
          <th>Occupation</th>
          <th>Address</th>
          <th>Date of Registration</th>
          <th>Complaint</th>
          <th>Crime Category</th>
          <th>Place of Occurence</th>
          <th>Police Station</th>
        </tr>
      </thead>
      <tbody>
          {% for data in ViewFir %}
        <tr>
          <td>{{data.police_station_id}}</td>
          <td>{{data.firstname}}</td>
          <td>{{data.lastname}}</td>
          <td>{{data.email}}</td>
          <td>{{data.date_of_birth}}</td>
          <td>{{data.phone}}</td>
          <td>{{data.gender}}</td>
          <td>{{data.nationality}}</td>
          <td>{{data.occupation}}</td>
          <td>{{data.address}}</td>
          <td>{{data.date_of_registration}}</td>
          <td>{{data.complaint}}</td>
          <td>{{data.crime_category}}</td>
          <td>{{data.place_of_occurence}}</td>
          <td>{{data.police_station}}</td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}